<h1>
  Thời khóa biểu từ ngày 02-01 đến 02-07
</h1>
<div class="button-group">
  <button (click)="prevWeek()">Tuần trước</button>
  <button (click)="nextWeek()">Tuần kế</button>
</div>

<table class="table-group">
  <thead>
    <tr>
      <!-- let item of listEventDate; let i = index -->
      <td>Ngày thứ</td>
      <td [appCustomStyle]="listDay[k]"  *ngFor="let item of listDay; let k = index">
        {{ listDate[k] }}
      </td>
    </tr>
    <tr>
      <td>
        <div class="custom-label-date-time">
          <div>Ngày</div>
          <div>Giờ</div>
        </div>
      </td>
      <td [appCustomStyle]="listDay[l]"  *ngFor="let item of listDay; let l = index">
        {{ item | formatDate }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listEventDate; let i = index">
      <td class="cell-date">
        <div>
          {{ listTime[i].id }}
        </div>
        <div>
          {{ listTime[i].time  }}
        </div>
      </td>

      <td [appCustomStyle]="listDay[j]" *ngFor="let item1 of item; let j= index">
        {{ item1 }}
      </td>
    </tr>
  </tbody>
</table>